/** ---------------------------- **/
/** ------- Jp de Beer --------- **/
/** ---------- 2016 ------------ **/
/** ---------------------------- **/
body {
     font-family: "Helvetica Nue", "Arial", "Serif";
}

/** --------------------------------- **/
/** Google Material Icons as a Font  **/
/** --------------------------------- **/
@font-face {
     font-family: 'Material Icons';
     font-style: normal;
     font-weight: 400;
     src: local('Material Icons'), local('MaterialIcons-Regular'),
     url('fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
     font-family: 'Material Icons';
     font-weight: normal;
     font-style: normal;
     font-size: 24px;
     line-height: 1;
     letter-spacing: normal;
     text-transform: none;
     display: inline-block;
     white-space: nowrap;
     word-wrap: normal;
     direction: ltr;
     -webkit-font-feature-settings: 'liga';
     -webkit-font-smoothing: antialiased;
}

/** ------- **/
/* Navigator */
/** ------- **/
.profile-page .profile nav.navigator {
     max-width: 160px;
     margin: -80px auto 0;
}

.navigator {
     margin: 0 auto 0;
     width: 0;
     height: 160px;
     font-size: 20px;
     text-align: left;
}

.navigator a .material-icons {
     /*font-size: 50px;*/
     font-size: 250%;
}

.navigator-open-button {
     width: 160px;
     height: 160px;
     margin-left: -80px;
     background: #6a9bba;
     box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.navigator-open-button .material-icons {
     margin-top: 20px;
     font-size: 120px;
}

.navigator-open-button,
.navigator-item {
     border-radius: 50% !important;
     -moz-border-radius: 50% !important;
     -webkit-border-radius: 50% !important;
     position: absolute;
     color: #ffffff;
     text-align: center;
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
     -webkit-transition: -webkit-transform ease-out 200ms;
     transition: -webkit-transform ease-out 200ms;
     transition: transform ease-out 200ms;
}

.navigator-open-button {
     z-index: 2;
     -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
     transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
     -webkit-transition-duration: 400ms;
     transition-duration: 400ms;
     cursor: pointer;
}

.navigator-open-button:hover {
     -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
     transform: scale(1.1, 1.1) translate3d(0, 0, 0);
}

.navigator-item {
     width: 80px;
     height: 80px;
     line-height: 115px;
     margin-top: 40px;
     margin-left: -40px;
     /*background: #002776;*/
     background: #6a9bba;
     box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.navigator-item:hover {
     box-shadow:
             0 16px 38px -12px rgba(0, 0, 0, 0.7),
             0 4px 25px 0px rgba(0, 0, 0, 0.22),
             0 8px 10px -5px rgba(0, 0, 0, 0.3);

     /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);*/
     /*background: #003197;*/
     background: #5283a1;
     color: #ffffff;
}

.navigator-item-label {
     margin-top: 20px;
     font-size: 14px;
     font-weight: 300;
     line-height: 1.4;
     color: #3C4858;
     display: none;
}

.navigator-items-right a:hover,
.navigator-items-left a:hover {
     text-decoration: none;
     cursor: pointer;
}

.navigator-open {
     display: none;
}

.navigator-open:checked + .navigator-open-button {
     -webkit-transition-timing-function: linear;
     transition-timing-function: linear;
     -webkit-transition-duration: 200ms;
     transition-duration: 200ms;
     -webkit-transform: scale(0.9, 0.9) translate3d(0, 0, 0);
     transform: scale(0.9, 0.9) translate3d(0, 0, 0);
}

.navigator-open:checked ~ .navigator-item {
     -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
     transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

/** Menu Item Labels **/
.navigator-open:checked ~ .navigator-items-right .navigator-item .navigator-item-label,
.navigator-open:checked ~ .navigator-items-left .navigator-item .navigator-item-label {
     display: block;
}

/** Right Menu **/
.navigator-items-right .navigator-item:nth-child(1) {
     -webkit-transition-duration: 180ms;
     transition-duration: 180ms;
}
.navigator-items-right .navigator-item:nth-child(2) {
     -webkit-transition-duration: 180ms;
     transition-duration: 180ms;
}
.navigator-items-right .navigator-item:nth-child(3) {
     -webkit-transition-duration: 180ms;
     transition-duration: 180ms;
}
.navigator-items-right .navigator-item:nth-child(4) {
     -webkit-transition-duration: 180ms;
     transition-duration: 180ms;
}

.navigator-open:checked ~ .navigator-items-right .navigator-item:nth-child(1) {
     -webkit-transition-duration: 190ms;
     transition-duration: 190ms;
     -webkit-transform: translate3d(170px, 0, 0);
     transform: translate3d(170px, 0, 0);
}
.navigator-open:checked ~ .navigator-items-right .navigator-item:nth-child(2) {
     -webkit-transition-duration: 290ms;
     transition-duration: 290ms;
     -webkit-transform: translate3d(310px, 0, 0);
     transform: translate3d(310px, 0, 0);
}
.navigator-open:checked ~ .navigator-items-right .navigator-item:nth-child(3) {
     -webkit-transition-duration: 390ms;
     transition-duration: 390ms;
     -webkit-transform: translate3d(450px, 0, 0);
     transform: translate3d(450px, 0, 0);
}
.navigator-open:checked ~ .navigator-items-right .navigator-item:nth-child(4) {
     -webkit-transition-duration: 490ms;
     transition-duration: 490ms;
     -webkit-transform: translate3d(590px, 0, 0);
     transform: translate3d(590px, 0, 0);
}

/** Left Menu **/
.navigator-items-left .navigator-item:nth-child(1) {
     -webkit-transition-duration: 180ms;
     transition-duration: 180ms;
}
.navigator-items-left .navigator-item:nth-child(2) {
     -webkit-transition-duration: 180ms;
     transition-duration: 180ms;
}
.navigator-items-left .navigator-item:nth-child(3) {
     -webkit-transition-duration: 180ms;
     transition-duration: 180ms;
}
.navigator-items-left .navigator-item:nth-child(4) {
     -webkit-transition-duration: 180ms;
     transition-duration: 180ms;
}

.navigator-open:checked ~ .navigator-items-left .navigator-item:nth-child(1) {
     -webkit-transition-duration: 190ms;
     transition-duration: 190ms;
     -webkit-transform: translate3d(-170px, 0, 0);
     transform: translate3d(-170px, 0, 0);
}
.navigator-open:checked ~ .navigator-items-left .navigator-item:nth-child(2) {
     -webkit-transition-duration: 290ms;
     transition-duration: 290ms;
     -webkit-transform: translate3d(-310px, 0, 0);
     transform: translate3d(-310px, 0, 0);
}
.navigator-open:checked ~ .navigator-items-left .navigator-item:nth-child(3) {
     -webkit-transition-duration: 390ms;
     transition-duration: 390ms;
     -webkit-transform: translate3d(-450px, 0, 0);
     transform: translate3d(-450px, 0, 0);
}
.navigator-open:checked ~ .navigator-items-left .navigator-item:nth-child(4) {
     -webkit-transition-duration: 490ms;
     transition-duration: 490ms;
     -webkit-transform: translate3d(-590px, 0, 0);
     transform: translate3d(-590px, 0, 0);
}

/*.img-circle,*/
/*.btn-round {*/
/*border-radius: 50% !important;*/
/*-moz-border-radius: 50% !important;*/
/*-webkit-border-radius: 50% !important;*/
/*}*/