* {
     -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
     border-radius: 0 !important;
}

a {
     color: #000;
}

.navbar {
     margin-bottom: 0px;
     border: none;
}

.header-bg-img {
     background: url("../img/header-bg-image.jpg");
     background-size: 100%;
     background-position: top;
     background-repeat: no-repeat;
     color: #fff;
}

.anglo-bg-color {
     background: #002776;
     color: #fff;
}

.has-error {
     background: #BB342F;
}

.btn-primary {
     background: #6a9bba;
     border-color: #6595b3;
}
.btn-primary:hover {
     background: #5788b2;
}

.btn-danger {
     background: #BB342F;
     border-color: #a7342f;
}

.jumbotron {
     box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.jumbotron.dark {
     background: #171717;
     color: #fff;
}

footer.jumbotron {
     margin-bottom: 0;
}

.projects-image-container {
     width: 80%;
     box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
     margin-left: auto;
     margin-right: auto;
}
.projects-image-container img {
     width: 100%;
     height: auto;
}