body, html {
    /*margin: 0;*/
    /*height: 100%;*/
    /*font: 400 15px/1.8 "Lato", sans-serif;*/
    /*color: #777;*/
}

.parallax-background-1 {
    /* The image used */
    /*background-image: url("../img/background-1.jpeg");*/
    /* Full height */
    /*height: 100%; */
}

.parallax-background-2 {
    /* The image used */
    /*background-image: url("../img/background-2.jpeg");*/
    /* Full height */
    /*height: 100%;*/
}

.parallax-background-1,
.parallax-background-2 {
    
    position: relative;
/*    opacity: 0.65;*/
    
     /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

.content {
/*    color: #777;*/
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}