/* COLORS */
/* #009aab */

html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: #000;
	margin: 0;
	padding: 0;
	color: #fff;
	height: 100%;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
	font-family: "Gotham", "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-weight: 300;
	line-height: 1.5em;
}

a:link,
a:visited {
    color: #555555;
}

.btn,
a.btn {
	background-color: transparent;
	border: solid #009aab 1px;
	color: #009aab;
	padding: 10px 26px;
	text-decoration: none;
	/*box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px;*/
}

.btn:hover,
a.btn:hover {
	background: #fbfbfb;
	/*box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 3px 0px, rgba(0, 0, 0, 0.3) 0px 4px 2px -2px, rgba(0, 0, 0, 0.3) 0px 2px 6px 0px;*/
}

.text-center {
    text-align: center;
}

.bottom-icons {
	width: 100%;
	position: absolute;
	bottom: 0;
/* 	opacity: 0.7; */
}

.text-center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.spacer-12-per {
	padding-top: 12%;
}

.max-400px {
	max-width: 400px;
}

.img-responsive {
	max-width: 100%;
	width: auto;
	height: auto;
}

.parallax-background-1 {
	background-image: url('../images/city-buildings.jpeg');
	background-size: cover;
	background-position: top center;
	height: 100%;
	box-shadow:
	inset 30px 30px 200px #000000,
	inset -30px -30px 200px #000000;
}

.light {
	border-top: solid #008b9c 1px;
	background: #fff;
	min-height: 50%;
	color: #333;
	padding: 30px;
}

.dark {
	background: #000;
	min-height: 50%;
	color: #fff;
	padding: 30px;
}

footer {
	/*background-image: url('../images/city-buildings.jpeg');*/
	/*background-position: bottom center;*/
	border-top: solid #008b9c 1px;
	background: #009aab;
	padding: 24px;
	text-align: center;
	font-size: 14px;
}
