<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset=utf-8>
        <meta http-equiv=X-UA-Compatible content="IE=edge">
        <meta name=viewport content="width=device-width,initial-scale=1">
        <meta name=description
              content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development.">
        <meta name=keywords content="HTML, CSS, JS, JavaScript, framework, bootstrap, front-end, frontend, web development">
        <meta name=author content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
        <title> CSS &middot; Bootstrap </title>

        <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!--<link href="assets/bootstrap/css/bootstrap-slate.min.css" rel="stylesheet">-->
        <!--<link href=assets/bootstrap/css/bootstrap-paper.min.css rel=stylesheet>-->

        <link href="assets/override.css" rel="stylesheet">

        <!-- My components CSS -->
        <link rel="stylesheet" type="text/css" href="assets/navigator.css">
        <!---->

        <!-- 3rd Party CSS -->
        <link href="assets/bootstrap-switch-master/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
        <link href="assets/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet">
        <!---->

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel=icon href="/favicon.ico">
        <script> // GoogleAnalytics </script>

        <script src="assets/angularjs/angular.min.js"></script>

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-85521081-1', 'auto');
            ga('send', 'pageview');

        </script>
        <!---->

    </head>

    <body ng-controller="AppController">

        <!-- Header Section -->
        <header class="navbar navbar-static-top" id=top role=banner>
            <div class=container>
                <div class=navbar-header>
                    <img src="img/logo.png" class="img-rounded">
                </div>
                <nav>
                    <!--<ul class="nav navbar-nav">-->
                        <!--<li><a href="">Components</a></li>-->
                        <!--<li><a href="">Bootstrap</a></li>-->
                        <!--<li><a href="">AngularJS</a></li>-->
                        <!--<li><a href="">About</a></li>-->
                        <!--<li><a href="">Contact</a></li>-->
                    <!--</ul>-->
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://jpdb.bitbucket.org">Home</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <!-- END: Header Section -->

        <!-- Custom Components Section -->
        <div>
            <div class="jumbotron header-bg-img" id="customComponents" tabindex="-1">
                <div class="container">
                    <h1>My Components</h1>
                    <p>
                        Created with lots of love
                    </p>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12" role="main">
                        <!-- Section Heading -->
                        <h2>AngularJS Dynamic Table</h2>
                        <p class="lead">Add, remove and restore a row of fields on the fly</p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Age</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="person in persons" ng-class="{ 'has-error': person.deleted == true }">
                                <td>
                                    <input type="text"
                                           ng-disabled="person.deleted"
                                           class="form-control input-sm"
                                           ng-model="person.name"
                                           jp-enter-as-tab-down/>
                                </td>
                                <td>
                                    <input type="text"
                                           ng-disabled="person.deleted"
                                           class="form-control input-sm"
                                           ng-model="person.surname"
                                           jp-enter-as-tab-down/>
                                </td>
                                <td>
                                    <input type="text"
                                           ng-disabled="person.deleted"
                                           class="form-control input-sm"
                                           ng-model="person.age"
                                           jp-enter-as-tab-down
                                           jp-two-digit-number/>
                                </td>
                                <td>
                                    <!-- Remove -->
                                    <button ng-click="removeRow(person)"
                                            class="btn btn-danger btn-sm"
                                            ng-if="!person.deleted" title="Remove row">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                    <!-- Restore -->
                                    <button ng-click="restoreRow(person)"
                                            class="btn btn-default btn-sm"
                                            ng-if="person.deleted" title="Restore row">
                                        <span class="glyphicon glyphicon-repeat"></span>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4 text-center"><jp-add-a-row></jp-add-a-row></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12" role="main">
                        <!-- Section Heading -->
                        <h2>AngularJS Clone Down Tool</h2>
                        <p class="lead">Enables you to clone table data downwards</p>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Age</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="person in cloningPersons" ng-class="{ 'has-error': person.deleted == true }">
                                <td>
                                    <div class="input-group">
                                        <input type="text"
                                               ng-disabled="person.deleted"
                                               class="form-control input-sm"
                                               ng-model="person.name"
                                               jp-enter-as-tab-down/>
                                        <div class="input-group-btn">
                                            <jp-clone-down
                                                    clone-object="cloningPersons"
                                                    clone-column="name"
                                                    clone-safe="true"
                                                    row-index="{{$index}}">

                                            </jp-clone-down>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text"
                                               ng-disabled="person.deleted"
                                               class="form-control input-sm"
                                               ng-model="person.surname"
                                               jp-enter-as-tab-down/>
                                        <div class="input-group-btn">
                                            <jp-clone-down clone-object="cloningPersons" clone-column="surname" row-index="{{$index}}"></jp-clone-down>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <input type="text"
                                               ng-disabled="person.deleted"
                                               class="form-control input-sm"
                                               ng-model="person.age"
                                               jp-enter-as-tab-down
                                               jp-two-digit-number/>
                                        <div class="input-group-btn">
                                            <jp-clone-down clone-object="cloningPersons" clone-column="age" row-index="{{$index}}"></jp-clone-down>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Pure CSS Navigator -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Section Heading -->
                        <h2>Google Material Navigator</h2>
                        <p class="lead">An interactive navigator inspired by Google Materila Design's FAB button</p>

                        <br> <br>

                        <!-- Navigator -->
                        <nav class="navigator">
                            <input class="navigator-open" href="#" id="navigator-open" name="navigator-open" type="checkbox">
                            <!-- Main Link -->
                            <label class="img-raised navigator-open-button" for="navigator-open">
                                <i class="material-icons">settings</i>
                            </label>
                            <!-- Left Links -->
                            <div class="navigator-items-left">
                                <a class="img-raised navigator-item">
                                    <i class="material-icons">https</i>
                                    <div class="navigator-item-label">Security</div>
                                </a>
                                <a class="img-raised navigator-item">
                                    <i class="material-icons">autorenew</i>
                                    <div class="navigator-item-label">Syncing</div>
                                </a>
                                <a class="img-raised navigator-item">
                                    <i class="material-icons">account_circle</i>
                                    <div class="navigator-item-label">Profile</div>
                                </a>
                            </div>
                            <!-- Right Links -->
                            <div class="navigator-items-right">
                                <a class="img-raised navigator-item">
                                    <i class="material-icons">location_on</i>
                                    <div class="navigator-item-label">Location</div>
                                </a>
                                <a class="img-raised navigator-item">
                                    <i class="material-icons">volume_up</i>
                                    <div class="navigator-item-label">Notifications</div>
                                </a>
                                <a class="img-raised navigator-item">
                                    <i class="material-icons">mail</i>
                                    <div class="navigator-item-label">Messages</div>
                                </a>
                            </div>
                        </nav>
                        <!-- /Navigator -->

                        <br> <br> <br> <br>

                    </div>
                </div>
            </div>
            <!-- END: Pure CSS Navigator -->

            <div class="container">
                <div class="row">
                    <div class="col-md-12" role="main">
                        <!-- Section Heading -->
                        <h2>More will follow...</h2>
                        <ul>
                            <li><span class="lead"> Datepicker to be used in a table with many date field</span> - <span class="text-muted">without making the page sluggish</span></li>
                            <li><span class="lead"> Custom AngularJS field validation directives</span> - <span class="text-muted">eg. time and two decimal number validation</span></li>
                            <li><span class="lead"> Other cool AngularJS and CSS creations</span> - <span class="text-muted">like custom file upload directives and modals</span></li>
                            <li><span class="lead"> Google Material Kit based navigators and inputs.</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Custom Components Section -->

        <br><br><br><br><br><br>

        <!-- Projects -->
        <div>
            <div class="jumbotron anglo-bg-color" id="projects">
                <div class="container">
                    <!--<h1>Components</h1>-->
                    <h1>Projects</h1>
                    <br>
                    <h3>AngloAmerican</h3>
                    <p class="lead">Drilling & Blasting Information System</p>
                </div>
            </div>

            <div class="projects-image-container">
                <img src="img/projects/dbis_block_overview.jpg" title="Anglo DBIS"/>
            </div>
            <br>
            <div class="projects-image-container">
                <img src="img/projects/dbis_drilling_report.jpg" title="Anglo DBIS"/>
            </div>

        </div>
        <!-- END: Projects -->

        <br>

        <!-- Angular/BS Components Section -->
        <div>
            <div class="jumbotron dark" id="content" tabindex="-1">
                <div class="container">
                    <!--<h1>Components</h1>-->
                    <h1>Learn more about the technology behind these components</h1>
                    <p>
                        Bootstrap, AngularJS and HTML5.
                    </p>
                    <div class="text-center">
                        <img src="img/boostrap.png" title="Bootstrap 3"/>
                        <img src="img/angularJS.png" title="AngularJS"/>
                        <img src="img/angularUI.png" title="Angular UI"/>
                        <img src="img/html5.png" title="HTML5"/>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12" role="main">
                        <!-- Section Heading -->
                        <h2>Bootstrap 3</h2>
                        <p class="lead">
                            Official Bootstrap 3 components
                            <span class="small">
                                <a class="btn btn-primary btn-xs" href="http://getbootstrap.com/">getbootstrap.com</a>
                                <button data-toggle="collapse"
                                        data-target="#collapseBootstrap"
                                        aria-expanded="false"
                                        aria-controls="collapseBootstrap" type="button" class="btn btn-primary btn-xs">
                                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </button>
                            </span>
                        </p>
                        <!-- Collapsible Section -->
                        <div class="collapse" id="collapseBootstrap">
                            <div class="col-md-6" role="complementary">
                                <nav>
                                    <ul class="nav">
                                        <li><a href="http://getbootstrap.com/components/#glyphicons" target="_blank">Glyphicons</a></li>
                                        <li><a href="http://getbootstrap.com/components/#dropdowns" target="_blank">Dropdowns</a></li>
                                        <li><a href="http://getbootstrap.com/components/#btn-groups" target="_blank">Button groups</a></li>
                                        <li><a href="http://getbootstrap.com/components/#btn-dropdowns" target="_blank">Button dropdowns</a></li>
                                        <li><a href="http://getbootstrap.com/components/#input-groups" target="_blank">Input groups</a></li>
                                        <li><a href="http://getbootstrap.com/components/#nav" target="_blank">Navs</a></li>
                                        <li><a href="http://getbootstrap.com/components/#navbar" target="_blank">Navbar</a></li>
                                        <li><a href="http://getbootstrap.com/components/#breadcrumbs" target="_blank">Breadcrumbs</a></li>
                                        <li><a href="http://getbootstrap.com/components/#pagination" target="_blank">Pagination</a></li>
                                        <li><a href="http://getbootstrap.com/components/#labels" target="_blank">Labels</a></li>
                                        <li><a href="http://getbootstrap.com/components/#badges" target="_blank">Badges</a></li>
                                        <li><a href="http://getbootstrap.com/components/#jumbotron" target="_blank">Jumbotron</a></li>
                                        <li><a href="http://getbootstrap.com/components/#page-header" target="_blank">Page header</a></li>
                                        <li><a href="http://getbootstrap.com/components/#thumbnails" target="_blank">Thumbnails</a></li>
                                        <li><a href="http://getbootstrap.com/components/#alerts" target="_blank">Alerts</a></li>
                                        <li><a href="http://getbootstrap.com/components/#progress" target="_blank">Progress bars</a></li>
                                        <li><a href="http://getbootstrap.com/components/#media" target="_blank">Media object</a></li>
                                        <li><a href="http://getbootstrap.com/components/#list-group" target="_blank">List group</a></li>
                                        <li><a href="http://getbootstrap.com/components/#panels" target="_blank">Panels</a></li>
                                        <li><a href="http://getbootstrap.com/components/#responsive-embed" target="_blank">Responsive embed</a></li>
                                        <li><a href="http://getbootstrap.com/components/#wells" target="_blank">Wells</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-12"><hr/></div>
                        </div>
                    </div>
                </div>
                <!-- END: Row -->

                <div class="row">
                    <div class="col-md-12" role="main">
                        <!-- Section Heading -->
                        <h2>AngularJS</h2>
                        <p class="lead">
                            Official AngularJS page
                            <span class="small">
                                <a class="btn btn-primary btn-xs" href="https://angularjs.org/">angularjs.org</a>
                                <button data-toggle="collapse"
                                        data-target="#collapseAngularJS"
                                        aria-expanded="false"
                                        aria-controls="collapseAngularJS" type="button" class="btn btn-primary btn-xs">
                                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </button>
                            </span>
                        </p>
                        <!-- Collapsible Section -->
                        <div class="collapse" id="collapseAngularJS">
                            <div class="col-md-4">
                                <h1>Why AngularJS?</h1>
                                <p>
                                    HTML is great for declaring static documents, but it falters when we try to use it for
                                    declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary
                                    for your application. The resulting environment is extraordinarily expressive, readable,
                                    and quick to develop.
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h1>Alternatives</h1>
                                <p>
                                    Other frameworks deal with HTML’s shortcomings by either abstracting away HTML, CSS,
                                    and/or JavaScript or by providing an imperative way for manipulating the DOM. Neither of
                                    these address the root problem that HTML was not designed for dynamic views.
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h1>Extensibility</h1>
                                <p>
                                    AngularJS is a toolset for building the framework most suited to your application
                                    development. It is fully extensible and works well with other libraries. Every feature
                                    can be modified or replaced to suit your unique development workflow and feature needs.
                                    Read on to find out how.
                                </p>
                            </div>
                            <div class="col-md-12"><hr/></div>
                        </div>
                    </div>
                </div>
                <!-- END: Row -->

                <div class="row">
                    <div class="col-md-12" role="main">
                        <!-- Section Heading -->
                        <h2>Angular UI</h2>
                        <p class="lead">
                            Bootstrap components written in pure AngularJS
                            <span class="small">
                                <a class="btn btn-primary btn-xs" href="https://angular-ui.github.io/bootstrap/">angular-ui.github.io/bootstrap</a>
                                <button data-toggle="collapse"
                                        data-target="#collapseAngularUI"
                                        aria-expanded="false"
                                        aria-controls="collapseAngularUI" type="button" class="btn btn-primary btn-xs">
                                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </button>
                            </span>
                        </p>
                        <!-- Collapsible Section -->
                        <div class="collapse" id="collapseAngularUI">
                            <div class="col-md-6" role="complementary">
                                <nav>
                                    <ul class="nav">
                                        <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Accordion (ui.bootstrap.accordion)</a></li>
                                        <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Alert (ui.bootstrap.alert)</a></li>
                                        <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Buttons (ui.bootstrap.buttons)</a></li>
                                        <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Carousel (ui.bootstrap.carousel)</a></li>
                                        <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Collapse (ui.bootstrap.collapse)</a></li>
                                        <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Dateparser (ui.bootstrap.dateparser)</a></li>
                                        <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Datepicker (ui.bootstrap.datepicker)</a></li>
                                        <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Dropdown (ui.bootstrap.dropdown)</a></li>
                                        <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Modal (ui.bootstrap.modal)</a></li>
                                        <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Pager (ui.bootstrap.pager)</a></li>
                                        <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Pagination (ui.bootstrap.pagination)</a></li>
                                        <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Popover (ui.bootstrap.popover)</a></li>
                                        <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Position (ui.bootstrap.position)</a></li>
                                        <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Progressbar (ui.bootstrap.progressbar)</a></li>
                                        <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Rating (ui.bootstrap.rating)</a></li>
                                        <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Tabs (ui.bootstrap.tabs)</a></li>
                                        <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Timepicker (ui.bootstrap.timepicker)</a></li>
                                        <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Timepicker (ui.bootstrap.timepicker)</a></li>
                                        <li><a href="https://angular-ui.github.io/bootstrap/" target="_blank">Typeahead (ui.bootstrap.typeahead)</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="col-md-12"><hr/></div>
                        </div>
                    </div>
                </div>
                <!-- END: Row -->
            </div>
        </div>
        <!-- END: Angular/BS Components Section -->

        <!-- 3rd Party Section -->
        <div>
            <div class="jumbotron dark" id="thridparty" tabindex="-1">
                <div class="container">
                    <h1>Third Party Components</h1>
                    <!--<h1>Third Party Components</h1>-->
                    <p>
                        This section showcases useful non-official Angular and Bootstrap components <br>built by others.
                    </p>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-12" role="main">
                        <!-- Section Heading -->
                        <h2>Bootstrap Switch</h2>
                        <p class="lead">
                            Turn checkboxes and radio buttons into toggle switches
                            <span class="small">
                                <a class="btn btn-primary btn-xs" href="http://www.bootstrap-switch.org/">bootstrap-switch.org</a>
                                <button data-toggle="collapse"
                                        data-target="#collapseBootstrapSwitch"
                                        aria-expanded="false"
                                        aria-controls="collapseBootstrapSwitch" type="button" class="btn btn-primary btn-xs">
                                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </button>
                            </span>
                        </p>
                        <input type="checkbox" name="my-checkbox" checked/>
                        <!-- Collapsible Section -->
                        <div class="collapse" id="collapseBootstrapSwitch">
                            <div class="col-md-12" role="complementary">
                                <h2>Getting Started</h2>
                                <p>Include the dependencies: jQuery, Bootstrap and Bootstrap Switch CSS + Javascript.</p>
                                    <pre>
                                        <code><span>&lt;<span>link</span> <span>href</span>=<span>"bootstrap.css"</span> <span>rel</span>=<span>"stylesheet"</span>&gt;</span>
                                        <span>&lt;<span>link</span> <span>href</span>=<span>"bootstrap-switch.css"</span> <span>rel</span>=<span>"stylesheet"</span>&gt;</span>
                                        <span>&lt;<span>script</span> <span>src</span>=<span>"jquery.js"</span>&gt;</span><span></span><span>&lt;/<span>script</span>&gt;</span>
                                        <span>&lt;<span>script</span> <span>src</span>=<span>"bootstrap-switch.js"</span>&gt;</span><span></span><span>&lt;/<span>script</span>&gt;</span></code></pre>
                                <p>Add your checkbox.</p>
                                <pre><code>&lt;input <span class="">type</span>=<span>"checkbox"</span>name=<span>"my-checkbox"</span> checked&gt;</code></pre>
                                <p>Initialize Bootstrap Switch.</p>
                                <pre><code>$(<span>"[name='my-checkbox']"</span>).bootstrapSwitch();</code></pre>
                            </div>
                            <div class="col-md-12"><hr/></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Bootstrap Table -->
            <div class="container">
                <div class="row">
                    <div class="col-md-12" role="main">
                        <!-- Section Heading -->
                        <h2>Bootstrap Table</h2>
                        <p class="lead">
                            An extended Bootstrap table with radio, checkbox, sort, pagination, and other added features.
                            <span class="small">
                                <a class="btn btn-primary btn-xs" href="http://bootstrap-table.wenzhixin.net.cn//">bootstrap-table.wenzhixin.net.cn</a>
                                <button data-toggle="collapse"
                                        data-target="#collapseBootstrapTable"
                                        aria-expanded="false"
                                        aria-controls="collapseBootstrapTable" type="button" class="btn btn-primary btn-xs">
                                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                </button>
                            </span>
                        </p>

                        <!-- Bootstrap Table -->
                        <table id="test-data-table"
                               class="table"
                               data-toolbar="#toolbar"
                               data-search="true"
                               data-show-refresh="false"
                               data-show-toggle="true"
                               data-show-columns="true"
                               data-show-export="false"
                               data-detail-view="false">
                        </table>
                        <!--data-url="/examples/data"-->
                        <!--data-detail-formatter="detailFormatter"-->

                        <!-- Collapsible Section -->
                        <div class="collapse" id="collapseBootstrapTable">
                            <div class="col-md-12" role="complementary">
                                <h3>Features</h3>
                                <ul>
                                    <li>Created for Bootstrap 3 (Bootstrap 2 supported)</li>
                                    <li>Responsive web design</li>
                                    <li>Scrollable Table with fixed headers</li>
                                    <li>Fully configurable</li>
                                    <li>Via data attributes</li>
                                    <li>Show/Hide columns</li>
                                    <li>Show/Hide headers</li>
                                    <li>Get data in JSON format using AJAX</li>
                                    <li>Simple column sorting with a click</li>
                                    <li>Format column</li>
                                    <li>Single or multiple row selection</li>
                                    <li>Powerful pagination</li>
                                    <li>Card view</li>
                                    <li>Localization</li>
                                    <li>Extensions</li>
                                </ul>
                            </div>
                            <div class="col-md-12"><hr/></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: 3rd Party Section -->

        <br>

        <!-- Footer Section -->
        <footer class="jumbotron dark" role="contentinfo">
            <div class="container">
                <!--<ul class="list-inline">-->
                    <!--<li><a href="https://github.com/twbs/bootstrap">GitHub</a></li>-->
                    <!--<li><a href="https://twitter.com/getbootstrap">Twitter</a></li>-->
                    <!--<li><a href="">Examples</a></li>-->
                    <!--<li><a href="">About</a></li>-->
                <!--</ul>-->
                <p>jeanpaul.debeer@gmail.com</p>
            </div>
        </footer>
        <!-- END: Footer Section -->

        <script src="assets/jquery/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.min.js"></script>

        <script src="app.js"></script>

        <!-- 3rd Party Scripts -->
        <script src="assets/bootstrap-switch-master/js/bootstrap-switch.min.js"></script>
        <script type="text/javascript">
            $( document ).ready(function() {
                $("[name='my-checkbox']").bootstrapSwitch();
            });
        </script>

        <script src="assets/bootstrap-table/js/bootstrap-table.min.js"></script>
        <script type="text/javascript">
            $( document ).ready(function() {
                $('#test-data-table').bootstrapTable({
                    "columns": [
                        {
                            "field": "id",
                            "title": "Item ID",
                            "sortable": true
                        },
                        {
                            "field": "name",
                            "title": "Item Name",
                            "sortable": true
                        },
                        {
                            "field": "price",
                            "title": "Item Price",
                            "sortable": true
                        }
                    ],
                    "data": [
                        {
                            "id": 1,
                            "name": "Item 1",
                            "price": "$1"
                        },
                        {
                            "id": 2,
                            "name": "Item 2",
                            "price": "$2"
                        },
                        {
                            "id": 3,
                            "name": "Item 3",
                            "price": "$3"
                        },
                        {
                            "id": 4,
                            "name": "Item 4",
                            "price": "$4"
                        },
                        {
                            "id": 5,
                            "name": "Item 5",
                            "price": "$5"
                        }
//                        {
//                            "id": 6,
//                            "name": "Item 6",
//                            "price": "$6"
//                        },
//                        {
//                            "id": 7,
//                            "name": "Item 7",
//                            "price": "$7"
//                        },
//                        {
//                            "id": 8,
//                            "name": "Item 8",
//                            "price": "$8"
//                        },
//                        {
//                            "id": 9,
//                            "name": "Item 9",
//                            "price": "$9"
//                        },
//                        {
//                            "id": 10,
//                            "name": "Item 10",
//                            "price": "$10"
//                        },
//                        {
//                            "id": 11,
//                            "name": "Item 11",
//                            "price": "$11"
//                        },
//                        {
//                            "id": 12,
//                            "name": "Item 12",
//                            "price": "$12"
//                        },
//                        {
//                            "id": 13,
//                            "name": "Item 13",
//                            "price": "$5"
//                        },
//                        {
//                            "id": 14,
//                            "name": "Item 14",
//                            "price": "$14"
//                        },
//                        {
//                            "id": 15,
//                            "name": "Item 15",
//                            "price": "$15"
//                        }
                    ]
                });
            });
        </script>
        <!-- put locale files after bootstrap-table.js -->
        <script src="assets/bootstrap-table/locale/bootstrap-table-en-US.js"></script>
        <!---->

    </body>
</html>